<header>
    <a href="/">you2be</a>

    <div class="input-search">
        <form action="/search-video">
            <input type="text" class="search-input" placeholder="search" name="s">
            <button type="submit" class="btn">search</button>
        </form>

    </div>
    <div class="input-user">
    <%if(user == undefined)
    {%>
        <a href="/login"><button class="btn">log in</button></a>
        <a href="/signin"><button class="btn">sign up</button></a>
    <%}
    else
    {%>
        <a href="/account"><button class="icon btn"> account</button></a>
        <a href="/sing-out"><button class="sign-out btn">sign-out</button></a>
    <%}%>
    </div>
</header>