<div class="center-vertical">
    <form action="/signin" class="form-vertical" method="POST">
        <input name="user" type="text" placeholder="nombre de usuario" class="item-vertical">
        <input name="email" type="email" placeholder="email" class="item-vertical">
        <input name="password" type="password" placeholder="password" class="item-vertical">
        <input name="repeatPassword" type="password" placeholder="repeat password" class="item-vertical">
        <button class="btn" class="item-vertical">register</button>
    </form>
</div>