<%- contentFor('main') %>
<div class="center-vertical-video">
    <form action="/account/add" enctype="multipart/form-data" class="form-vertical" method="POST">
        <input type="file" name="file" id="file" multiple="multiple">
        <input name="name" type="text" placeholder="titulo" class="item-vertical">
        <textarea name="description" placeholder="descripcion" id="" cols="30" rows="10" class="item-vertical description"></textarea>
        <button type="submit" class="btn" class="item-vertical">cargar</button>
    </form>
</div>